@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h2>Create new Library Card holder:</h2>

@using(Html.BeginForm())
{

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="+ new Library Card Holder" class="btn btn-info">
}