@{
  Layout = "_Layout";
}

@using Library.Models
@model List<Library.Models.Book>

<h2>Welcome to the James P.L. Middle School Library</h2>

<p>@Html.ActionLink("See Authors", "Index", "Authors", null, new { @class = "links"})</p>
<p>@Html.ActionLink("See Books", "Index", "Books", null, new { @class = "links"})</p>

<p>@Html.ActionLink("Create an account", "Index", "Patrons", null, new { @class = "links"})</p>