@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Book

<h2>Welcome to the James P.L. Middle School Library</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)

  <input type="submit" value="Look up" class="btn btn-info">
}

@Html.ActionLink("+ new Book", "Create", "Books", null, new { @class = "links"})