@{
  Layout = "_Layout";
}

@using Library.Models
@model List<Library.Models.Author>



  @using(Html.BeginForm())
  {
    <p>
        @Html.Label("") 
        @Html.TextBox("SearchString", null, new {placeholder="Search For Author"})
        <input type="submit" value="Look up" class="btn btn-info"/>
    </p>
  }

@if(Model.Count == 0)
{

}
@foreach(Author author in Model)
{
  <h3>@Html.ActionLink($"{author.Name}", "Details", "Authors", new { id = author.AuthorId})</h3>
  
}

@Html.ActionLink("+ new Author", "Create", "Authors", null, new { @class = "links"})